<div class="navbar">
  <ul>
    <li><%= link_to 'Home', pages_home_path %></li>
    <li><%= link_to 'Articles List', articles_path %></li>
  </ul>
</div>
<% if @article.errors.any? %>
<h2>The following errors prevented the article from getting created.</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |form| %>
  <p>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
    </p>
    <p>
    <%= form.label :description %> <br>
    <%= form.text_area :description %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>
